WebContent/WEB-INF/KmssConfig/eop/basedata/design-xml/validation.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.landray.com.cn/fsscxml" 
		   xmlns="http://www.landray.com.cn/fsscxml"
		   elementFormDefault="qualified">
	<xs:element name="validators">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="validator" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name"/>
						<xs:attribute name="bean"/>
						<xs:attribute name="message"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
